@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
        border: none;
        padding: 0;
    }

   [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
        @apply shadow-none border-none ring-0
    }

   .ask-anna--editor ol, .ask-anna--editor ul, .ask-anna--editor menu {
        list-style: disc;
    }
    label {
        z-index: 1;
    }
}